composer.phar
/vendor/
openapi_ss12000_version2_1_0.yaml
SS_12000_2024_SV.pdf

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
